# dependencies
node_modules
.pnp
.pnp.*

# build outputs
dist/
.next/
out/
build/

# misc
.DS_Store
*.pem
*.tsbuildinfo
.npmrc
**/next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# turbo
.turbo

# test coverage
coverage/
